@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700,800,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700,800,900&display=swap');

:root {
    --background-color: #000000;
    --text-color: #fff;
    --secondary-text-color: #ffffff7e;
    --header-border-color: #87868641;
    --section-border-color: #9025fc;
    --service-item-bg-color: #00aaff11;
    --service-item-border-color: #9025fc;
    --team-member-bg-color: #00000064;
    --team-member-border-color: #9f68da;
    --social-media-bg-color: #333;
    --burger-menu-color: #fff;
    --nothing: rgba(0, 0, 0, 0.881);
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    transition: background-color 0.3s ease, color 0.3s ease;
}

